body{


    background-image:url(condat.jpeg);
    background-position: center;
    background-size:cover ;
    font-family: sans-serif;
    margin-top: 40px;
}
    
.regform{
    width:800px;
    background-color: rgb(0,0,0,0.6);
    margin:auto;
    color:#FFFFFF;
    padding:20px 0px 20px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.main{
    background-color: rgb(0,0,0,0.5);
    width: 800px;
    margin:auto;
}
form{
    padding:10px
}

#name{
    width:100%;
    height:100px;
}

.name{
    margin-left: 25px;
    margin-top: 30px;
    width:25px;
    color: white;
    font-size: 18px;
    font-weight: 700;

}
.firstname{
    position: relative;
    left: 200px;
    top:-37px;
     line-height: 40px;
     border-radius: 6px;
     padding: 0 22px;
     font-size:  16px;
}

.email{
    position: relative;
    left: 200px;
    top:-37px;
     line-height: 40px;
     border-radius: 6px;
     padding: 0 22px;
     font-size:  16px;
}

.dob{
    position: relative;
    left: 200px;
    top:-37px;
     line-height: 40px;
     border-radius: 6px;
     padding: 0 22px;
     font-size:  16px;
}

.phn{
    position: relative;
    left: 200px;
    top:-37px;
     line-height: 40px;
     border-radius: 6px;
     padding: 0 22px;
     font-size:  16px;
}

.option{
    position: relative;
    left: 200px;
    top:-37px;
     line-height: 40px;
     widows: 1000px;
     height:40px;
     border-radius: 6px;
     padding: 0 22px;
     font-size:  16px;
}

.btn{
    background-color: #3BAF9F;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding:14px 110px;
    outline:none;
    color:white;
    cursor: pointer;
    transition :0.25px;
}
.btn:hover{
    background-color: #5390F5;
}